{% extends "base.html" %}

{% load i18n %}
{% load bootstrap_form from bootstrap4 %}
{% block title %}
    {% trans "Изменить данные" context "Edit address page title" %} — {{ block.super }}{% endblock %}

{% block breadcrumb %}
  <ul class="breadcrumbs list-unstyled">
    <li>
      <a href="{% url 'home' %}">
       Главная
      </a>
    </li>
    <li>
      <a href="{% url "account:details" %}">
        Мой аккаунт
      </a>
    </li>
      <li>
        <a href=".">
          Изменить данные
        </a>
      </li>
  </ul>
{% endblock breadcrumb %}

{% block content %}
  <div class="row account__address-edit">
    <div class="col-sm-8 col-lg-6 m-auto">
      <form method="post" novalidate>
        {% csrf_token %}
        <h2 class="text-center">
          Изменить данные
        </h2>
        <div class="account__address-edit__form">
           {% bootstrap_form form %}
        </div>
        <p class="text-right">
          <a href="{% url 'account:details' %}" class="btn-flat waves-effect">
                Отмена
          </a>
          <button type="submit" class="btn primary narrow">
            {% trans "Save changes" context "Edit/new address primary action" %}
          </button>
        </p>
      </form>
    </div>
  </div>
{% endblock content %}
