{% extends "base.html" %}

{% load i18n %}
{% load staticfiles %}
{% load bootstrap_form from bootstrap4 %}

{% load status %}
{% block title %}
  {% blocktrans trimmed context "Order details page title" %}
    Order {{ order }}
  {% endblocktrans %} — {{ block.super }}
{% endblock %}

{% block breadcrumb %}
  {% if order.user == user %}
    <ul class="breadcrumbs list-unstyled">
      <li>
        <a href="{% url 'home'%}">
          Главная
        </a>
      </li>
      <li>
        <a href="{% url "account:details" %}">
          Мой аккаунт
        </a>
      </li>
      <li>
        <a href="{{ order.get_absolute_url }}">
          {% blocktrans trimmed context "Order details breadcrumb" %}
            Заказ {{ order }}
          {% endblocktrans %}
        </a>
      </li>
    </ul>
  {% endif %}
{% endblock breadcrumb %}

{% block meta_tags %}
  <meta name="robots" content="noindex, nofollow">
{% endblock meta_tags %}

{% block content %}
  {# This view is available by just knowing url,          #}
  {# so we don't show all details (like shipping address) #}
  {# unless current user is owner of the order.           #}

  <div class="row order-details">
    <div class="col-lg-10 m-auto">
      <h2 class="order-details__header">
        Заказ {{ order }}: {% render_order_status order.status order.get_status_display %}
      </h2>
      {% if not order.is_fully_paid %}
        {% if order.is_pre_authorized %}
          <a href="{% url "order:payment" token=order.token %}" class="btn btn-link">
            Информация об оплате
          </a>
        {% else %}
          <a href="{% url "order:payment" token=order.token %}" class="btn primary">
            Оплатить заказ
          </a>
        {% endif %}
      {% endif %}
      {% include "order/_ordered_items_table.html" %}
      <div class="order-notes">
      {% if notes %}
        <h2 class="order-notes__header">Комментарии к заказу</h2>
        {% for note in notes %}
          <small>
            {% if note.user %}
              {% if note.user == user %}
                {% blocktrans with date=note.date %}
                  {{ date }} отправлено вами
                {% endblocktrans %}
              {% elif note.user.is_staff %}
                {% trans 'Администратор' context 'Order note author is staff' as note_author_staff %}
                {% blocktrans with author=note_author_staff date=note.date %}
                  {{ date }} <span class="text-muted">{{ author }}</span>
                {% endblocktrans %}
              {% endif %}
            {% endif %}
          </small>
          <p>{{ note.content }}</p>
        {% endfor %}
      {% endif %}
      {% if order.is_open and user == order.user%}
        <form method="post" class="form-group">
          {% csrf_token %}
          {% bootstrap_form note_form display_labels=False %}
          <input type="submit" value="Отправить" class="btn primary" />
        </form>
      {% endif %}
      </div>
    </div>
  </div>
{% endblock content %}
